@import '@fontsource/metamorphous' layer(base);

@import 'tailwindcss';
@import './styles/base/typography.css' layer(base);
/* @import './styles/forms.css'; */

@plugin "daisyui" {
  themes:
    hogwarts --default,
    hogwarts-dark --prefersdark;
  root: ':root';
  logs: false;
}

/*
Original color palette:
  --color-primary: oklch(40.84% 0.1165 38.17);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(83.69% 0.1644 84.43);
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: oklch(59.6% 0.1274 163.23);
  --color-accent-content: oklch(12% 0.042 264.695);
*/

@plugin "daisyui/theme" {
  name: hogwarts;
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(96.7% 0.0029 264.54);
  --color-base-200: oklch(92% 0.0029 264.54);
  --color-base-300: oklch(85% 0.0029 264.54);
  --color-base-content: oklch(12% 0.0029 264.54);
  --color-primary: oklch(59.6% 0.1274 163.23);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(40.84% 0.1165 38.17);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(83.69% 0.1644 84.43);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(37.29% 0.0306 259.73);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62.31% 0.188 259.81);
  --color-info-content: oklch(12% 0.042 264.695);
  --color-success: oklch(69.59% 0.1491 162.48);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(76.86% 0.1647 70.08);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(63.68% 0.2078 25.33);
  --color-error-content: oklch(14% 0.004 49.25);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: hogwarts-dark;
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(59.6% 0.1274 163.23);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(40.84% 0.1165 38.17);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(83.69% 0.1644 84.43);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(37.29% 0.0306 259.73);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62.31% 0.188 259.81);
  --color-info-content: oklch(12% 0.042 264.695);
  --color-success: oklch(69.59% 0.1491 162.48);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(76.86% 0.1647 70.08);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(63.68% 0.2078 25.33);
  --color-error-content: oklch(14% 0.004 49.25);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/* Tailwind Theme */
@theme {
  /* Set default font stacks */
  --font-base: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans: var(--font-base);
  --font-headings: 'Metamorphous', var(--font-base);

  /* House colors */
  --color-gryffindor-base: oklch(25.8% 0.092 26.042);
  --color-gryffindor-accent: oklch(42.1% 0.095 57.708);
  --color-hufflepuff-base: oklch(56.2% 0.114 91.930);
  --color-hufflepuff-accent: oklch(42.9% 0.088 96.680);
  --color-ravenclaw-base: oklch(28.2% 0.091 267.935);
  --color-ravenclaw-accent: oklch(39.1% 0.09 240.876);
  --color-slytherin-base: oklch(26.6% 0.065 152.934);
  --color-slytherin-accent: oklch(37.8% 0.077 168.94);
}

:root {
  scrollbar-gutter: stable;
}
